
<div class="row">
    <div id="work-slide" class="owl-carousel">
        <div>
            <div class="col-md-6 margin-btm-30">
                <img src="img/work-1.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-md-6">
                <div class="work-detail">
                    <h1>mindsharemn.com</h1>
                    <p>
                        Web site for Minneapolis-based IT consultant. 
                    </p>
                    <p>
                        All site work done by sp (HTML, CSS, Photoshop, Javascript mods)
                    </p>
                    <p>
                        Modern, responsive web site utilizing Bootstrap and SASS (preprocessed CSS) 
                    </p>
                    <p><strong>Client:</strong> Donna Wells</p>
                    <p><strong>Skills:</strong> HTML5 / CSS3 / Bootstrap3</p>
                    <p><a href="/mindshare_site/index.html" target="_blank" class="btn btn-dark">Visit Project </a></p>
                </div>
            </div>
        </div><!--testimonials item like paragraph-->
        <div>
            <div class="col-md-6 margin-btm-30">
                <img src="img/work-2.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-md-6">
                <div class="work-detail">
                    <h1>spwebguy.com</h1>
                    <p>
                        Yup, you are looking at it, right now
                    </p>
                    <p>
                        HTML, CSS, Photoshop, Javascript
                    </p>
                    <p>
                        Modern, responsive web site utilizing Bootstrap and SASS (preprocessed CSS) 
                    </p>
                    
                    <p><strong>Skills:</strong> HTML5 / CSS3 / Bootstrap3</p>
                    <p><a href="#" class="btn btn-dark">Visit Project</a></p>
                </div>
            </div>
        </div><!--testimonials item like paragraph-->
        <div>
            <div class="col-md-6 margin-btm-30">
                <img src="img/work-3.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-md-6">
                <div class="work-detail">
                    <h1>healtheast.org</h1>
                    <p>
                        St. Paul hospital system
                    </p>
                    <p>
                        Worked on web team
                    </p>
                    <p>
                        Implemented desired designs of creative manager and interactive web consultants.  This included modifying css (foundation framework, CSS files) and custom PHP modules. 
                    </p>
                    
                    <p><strong>Skills:</strong> HTML5 / CSS3 / Bootstrap3 / PHP</p>
                    <p><a href="http://www.healtheast.org" target="_blank" class="btn btn-dark">Visit Project</a></p>
                </div>
            </div>
        </div><!--testimonials item like paragraph-->                     
    </div>
</div><!--portfolio carousel slide use for single item detail-->