/************************************************************** 
General
***************************************************************/

body {
    padding-top: 80px;
    font-family: 'Oswald', sans-serif;
}

.fixed-attachment {
    background-attachment: fixed;
}

@media (max-width: 1024px) {
    .fixed-attachment {
        background-attachment: scroll;
    }
}

.fill-screen {
    background-size: cover;
    background-position: center;
}

.divider {
    width: 100%;
    padding-bottom: 25px;
}
  
.divider:after {
    content: "";
    background: #D4AF37;
    position: relative;
    height: 4px;
    width: 300px;
    display: block;
    text-align: center;
    margin: 13px auto;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
}

/************************************************************** 
Navbar
***************************************************************/

.navbar {
    margin-bottom: 0px;
    padding: 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/* Uncomment to have logo resize in transition to smaller screen size */
/* @media (max-width: 400px) {
    .navbar-header {
        position: relative;
    }
    .navbar img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

@media (max-width: 325px) {
    .navbar-header {
        position: relative;
    }
    .navbar img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }
} */

.navbar-default .navbar-nav>li>a {
    color: #000;
    font-size: 15px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #D4AF37;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #D4AF37;
}

.navbar img {
    width: 80%;
    height: 80%;
}

.cbp-af-header-shrink {
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.9;
}

.hover-logo figure img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
  
.hover-logo figure:hover img {
    opacity: .5;
}

/************************************************************** 
Header
***************************************************************/

header {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    padding: 375px 0;
    min-height: 100%;
    background: no-repeat center center;
    background-attachment: scroll;
    background-size: cover;
    z-index: 0;
} 

.overlay-banner {
    position: absolute;
    margin-top: -200px;
    margin-left: 100px;
    color: white;
    z-index: 1;
}

/* @media (max-width: 768px) {
    header {
        display: block;
        position: relative;
        width: auto;
        height: auto;
        padding: 474px 0;
        min-height: 100%;
        background: no-repeat center center;
        background-attachment: scroll;
        background-size: cover;
        z-index: 0;
    }
}

@media (max-width: 480px) {
    header {
        display: block;
        position: relative;
        width: auto;
        height: auto;
        padding: 300px 0;
        min-height: 100%;
        background: no-repeat center center;
        background-attachment: scroll;
        background-size: cover;
        z-index: 0;
    } 
} */

.banner-title h4 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #D4AF37;
    text-transform: uppercase;
}

.banner-text h1 {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.btn-primary {
    margin-top: 20px;
    margin-right: 20px;
    width: 110px;
}

.btn-1 {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.btn-1:hover {
    color: #fff;
    background-color: #E5E4E2;
    border-color: #E5E4E2;
}

.btn-2 {
    color: #fff;
    background-color: #D4AF37;
    border-color: #D4AF37;
}

.btn-2:hover {
    color: #D4AF37;
    background-color: #fff;
    border-color: #fff;
}

.down-button {
    position: absolute;
    margin-top: 200px;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.down-button a {
    color: #D4AF37;
}

.down-button a:hover {
    color: #fff;
}

/************************************************************** 
About
***************************************************************/

#about {
    background-image: url("../images/ivory_bkg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#about h1 {
    text-align: center;
}

.interest img {
    border-radius: 50%;
}

.aquascaping {
    height: 225px;
    width: 205px;
    transform: translate(40%, -10%);
    z-index: 0;
}

.jim {
    height: 330px;
    width: 345px;
    transform: translate(0%, 40%);
    z-index: 1;
    border: 5px solid #fff;
}

.gaming {
    height: 225px;
    width: 205px;
    transform: translate(40%, 10%);
    z-index: 0;
    border: 5px solid #fff;
}

.about-text {
    padding-top: 10px;
}
.about-text p {
    text-align: left;
    font-size: 18px;
}

/************************************************************** 
Experience
***************************************************************/

#experience {
    background-image: url("../images/experience.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#experience h1 {
    text-align: center;
    color: #fff;
}

/************************************************************** 
Skills
***************************************************************/

#skills {
    background-image: url("../images/greyback.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#skills h1 {
    text-align: center;
    color: #fff;
}

.skills-icons {
    text-align: center;
}

.skills-icons img {
    height: 80px;
    width: 80px;
}

/************************************************************** 
Projects
***************************************************************/

#projects {
    background-image: url("../images/projects.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#projects h1 {
    text-align: center;
    color: #fff;
}

/************************************************************** 
Footer 
***************************************************************/

footer {
    background-color: #E5E4E2;
    padding: 20px 20px 20px 20px;
    text-align: left;
}

footer a {
    color: #333;
}

footer a:hover {
    color: #D4AF37;
}

.footer-info {
    margin-bottom: 20px; 
}
.footer-info h2,
.footer-info p {
    display: inline;
}

.footer-job {
    color: #D4AF37;
    text-transform: uppercase;
}

.divider-footer {
    width: 100%;
    padding-top: 25px; 
    /* padding-bottom: 10px; */
}
  
.divider-footer:after {
    content: "";
    background: #D4AF37;
    position: relative;
    height: 2px;
    width: 100%;
    display: block;
    text-align: center;
    margin: 13px auto;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
}

.social-icons a {
    padding: 15px;
}

.footer-banner {
    text-align: center;
    text-transform: uppercase;
}

.footer-copy-rights {
    text-align: center;
    opacity: 0.5;
}