/************************************************************** 
General
***************************************************************/

body {
    padding-top: 50px;
    font-family: 'Oswald', sans-serif;
}

.fixed-attachment {
    background-attachment: fixed;
}

@media (max-width: 1024px) {
    .fixed-attachment {
        background-attachment: scroll;
    }
}

.fill-screen {
    background-size: cover;
    background-position: center;
}


/************************************************************** 
Navbar
***************************************************************/

.navbar {
    margin-bottom: 0px;
    padding: 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/* Uncomment to have logo resize in transition to smaller screen size */
/* @media (max-width: 400px) {
    .navbar-header {
        position: relative;
    }
    .navbar img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

@media (max-width: 325px) {
    .navbar-header {
        position: relative;
    }
    .navbar img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }
} */

.navbar-default .navbar-nav>li>a {
    color: #000;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #E4A025;
}

.navbar img {
    width: 80%;
    height: 80%;
}

.cbp-af-header-shrink {
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.9;
}

/************************************************************** 
Header
***************************************************************/

header {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    padding: 425px 0;
    min-height: 100%;
    background: no-repeat center center;
    background-attachment: scroll;
    background-size: cover;
    z-index: 0;
} 

.overlay-banner {
    position: absolute;
    top: 40%;
    left: 40%;
    margin-right: -50;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    /* top: 0; right: 0; bottom: 0; left: 0; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    color: white;
    z-index: 1;
}

@media (max-width: 768px) {
    header {
        display: block;
        position: relative;
        width: auto;
        height: auto;
        padding: 474px 0;
        min-height: 100%;
        background: no-repeat center center;
        background-attachment: scroll;
        background-size: cover;
        z-index: 0;
    }
}

@media (max-width: 480px) {
    header {
        display: block;
        position: relative;
        width: auto;
        height: auto;
        padding: 300px 0;
        min-height: 100%;
        background: no-repeat center center;
        background-attachment: scroll;
        background-size: cover;
        z-index: 0;
    } 
}

.banner-text {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.banner-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #ffcf40;
    text-transform: uppercase;
}

.btn-primary {
    margin-top: 20px;
    margin-right: 20px;
    width: 110px;
}

.btn-1 {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.btn-1:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.btn-2 {
    color: #fff;
    background-color: #E4A025;
    border-color: #E4A025;
}

.btn-2:hover {
    color: #E4A025;
    background-color: #fff;
    border-color: #fff;
}

.down-button {
    position: absolute;
    bottom: 15%;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.down-button a {
    color: #E4A025;
}

.down-button a:hover {
    color: #fff;
}

/************************************************************** 
About
***************************************************************/

.content-filler {
    min-height: 350px;
}

.profile-photo {
    box-shadow: rgba(0,0,0,0.5) 10px 10px 25px;
}

/************************************************************** 
Skills
***************************************************************/

/************************************************************** 
Expreience
***************************************************************/

/************************************************************** 
Projects
***************************************************************/

/************************************************************** 
Footer 
***************************************************************/

footer {
    background-color: #111;
    color: #ddd;
    padding: 20px;
    text-align: center;
}

.profile-photo2 {
    border-radius: 5px;
    margin: 10px;
  }

  .contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
  }

  .contact-info li.phone a {
    background-image: url('/images/phone.png');
  }
  
  .contact-info li.mail a {
    background-image: url('/images/gmail.png');
  }
  
  .contact-info li.linkedin a {
    background-image: url('/images/linkedin.png');
  }
  
  .contact-info li.github a {
    background-image: url('/images/github.png');
  }

  .footer-p {
    text-align: left;
  }
  
  .footer-nav {
    text-align: left;
  }