/**************************
Generals
***************************/

body{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
}

h2  {
  font-weight: bold;
}

section {
  position: relative;
  padding: 45px 0;
}
section::before,
section::after{
  pointer-events: none;
  overflow: hidden;
  display: block;
  content: " ";
  margin-top: -10px;
  height: 15px;
  visibility: hidden;
}

.divider {
  width: 100%;
  padding-bottom: 25px;
}
.divider:after {
  content: "";
  background: #337ab7;
  position: relative;
  height: 4px;
  width: 300px;
  display: block;
  text-align: center;
  margin: 13px auto;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
}

.section-heading {
  margin-top: 100px;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  opacity: 0.5;
  background: #262626;
}

/**************************
Nav
***************************/

header .navbar-default {
  background: #ffffff;
  border: none;
  padding: 10px 0;
  -webkit-box-shadow:0px 1px 1px #4d4d4d;
  -moz-box-shadow:0px 1px 1px #4d4d4d;
  box-shadow:0px 1px 1px #4d4d4d;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

/*.nav {
  float: left;
  background: #fff;
  width: 100%;
  height: 100px;
}*/

.main-logo {
  float: left;
}

.main-tab {
  text-align: right;
  margin-top: 20px;
}

.tabs {
  padding: 10px 10px;
}

.hover11 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover11 figure:hover img {
	opacity: .5;
}

 /*fallback */
/*@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}*/

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/**************************
Main Section
***************************/

#main-section {
  background: white url("/images/minsky.jpg") no-repeat fixed 100%;
  position: relative;
  height: 100%;
  min-height: 700px;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

#main-info {
  position: absolute;
  top: 175px;
  left: 0;
  width: 100%;
  text-align:center;
  color: #fff;
}

.main-header {
  margin-bottom: 40px;
}

.h1 {
  font-size: 50px;
  font-weight: bold;
}

.divider-name {
    width: 100%;
    padding-bottom: 5px;
}
.divider-name:after {
  content: "";
  background: #fff;
  position: relative;
  height: 4px;
  width: 300px;
  display: block;
  text-align: center;
  margin: 13px auto;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
}

.h4 {
  color: #fff;
}

/**************************
About
***************************/

.profile-photo {
  height: 40vmin;
  width: 50vmin;
  border-radius: 5px;
  float: left;
  margin: 20px 5% 30px 0;
}

.skills {
  height: 15vmin;
  width: 15vmin;
  padding: 1vmin 1vmin;
  text-align: center;
}

.row {
  margin: 10px 10px;
}

/**************************
Experience
***************************/

/*#experience {
  background-color: #222;
  color: #FFF;
}*/

#experience {
  background: white url("/images/greyback.jpg") no-repeat fixed 100%;
  position: relative;
  height: 100%;
  /*min-height: 700px;*/
  min-height: 600px;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  color: #fff;
}

.skills-row {
  padding-top: 5px;
}

/* Blur */
.hover08 figure img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover08 figure:hover img {
	-webkit-filter: blur(0);
	filter: blur(0);
}

/* Circle */
/*.hover08 figure {
	position: relative;
}
.hover08 figure::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.hover08 figure:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 120%;
		height: 120%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 120%;
		height: 120%;
		opacity: 0;
	}
}*/

span {
	bottom: -20px;
	display: block;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}

figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

/**************************
Projects
***************************/

#projects {
  background: white url("/images/projects.jpg") no-repeat fixed 100%;
  position: relative;
  height: 100%;
  min-height: 700px;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  color: #fff;
}

.card-img-top {
  height: 250px;
  width: 300px;
  border-radius: 10px;
  margin-top: 40px;
}

.hover01 figure main {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover main {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/* Shine */
/*.hover01 figure:hover main {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}*/

/*main {
  padding: 10px 0;
  color: #fff;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}

input {
  display: none;
  visibility: hidden;
}
label {
  display: block;
  padding: 0.5em;
  text-align: center;
  border-bottom: 1px solid #CCC;
  color: #666;
}
label:hover {
  color: #000;
}
label::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 15px;
  content: "+";
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}

.section {
  padding: 0 20px;
  font-size: 16px;
  text-align: left;
}

.projecth3 {
  text-decoration: underline;
}

 First Project
#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}

#toggle:checked ~ #expand {
  height: 260px;
}
#toggle:checked ~ label::before {
  content: "-";
}

 Second Project
#expand2 {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}

#toggle2:checked ~ #expand2 {
  height: 260px;
}
#toggle2:checked ~ label::before {
  content: "-";
}

 Third Project
#expand3 {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}

#toggle3:checked ~ #expand3 {
  height: 260px;
}
#toggle3:checked ~ label::before {
  content: "-";
}*/

/* Work */

#work {
  background: white url('/images/projects.jpg') no-repeat fixed;
  background-size: cover ;
  position: relative;
  height: 100%;
  color: #fff;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position: center center;
}

.work-heading {
  margin-top: 100px;
  margin-bottom: 20px;
}

.work-container {
  max-width: 900px;
}

.work-header {
  font-weight: bold;
}

/**************************
Footer
***************************/

footer {
  background: #222 !important;
  color: #ffffff;
  padding-top: 30px;
}

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.profile-photo2 {
  height: 12vmin;
  width: 14vmin;
  border-radius: 5px;
  float: left;
  margin: 10px;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.contact-info li.phone a {
  background-image: url('/images/phone.png');
}

.contact-info li.mail a {
  background-image: url('/images/gmail.png');
}

.contact-info li.linkedin a {
  background-image: url('/images/linkedin.png');
}

.contact-info li.github a {
  background-image: url('/images/github.png');
}

.footer-nav {
  text-align: left;
}

.copy-right {
  padding-top: 40px;
  padding-bottom: 20px;
}

/* Hobbies */

.slide {
    width: 100%;
    display: none;
    overflow: hidden;
    /*padding: 50px;*/
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

.slide.active {
    display: block;
    /*opacity: 1;*/
}

.hobby-header {
  font-weight: lighter;
}

.hobby {
    color: #1e90ff;
    font-weight: bold;
    font-size: 50px;
}
