/************************************************************** 
General
***************************************************************/

body {
    /* padding-top: 80px; */
}

/************************************************************** 
Navbar
***************************************************************/

.navbar {
    margin-bottom: 0px;
    padding: 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/* Uncomment to have logo resize in transition to smaller screen size */
/* @media (max-width: 400px) {
    .navbar-header {
        position: relative;
    }
    .navbar img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

@media (max-width: 325px) {
    .navbar-header {
        position: relative;
    }
    .navbar img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }
} */

.navbar-inverse .navbar-nav>li>a {
    color: #000;
}

.navbar img {
    width: 80%;
    height: 80%;
}

.cbp-af-header-shrink {
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.9;
}

/************************************************************** 
Langing Images/Intro
***************************************************************/

.fill-screen {
    background-size: cover;
    background-position: center;
}

/************************************************************** 
Footer 
***************************************************************/

footer {
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}